{% extends 'layout.html' %}

{% block content %}
    <main class='hero-section'>
        <div class='container'>

            <div class='section-content'>
                <h2>Discover your next favorite book.</h2>
                <a href='#' class='btn-primary'>Signup</a>
                <a href='#' class='btn-secondary'>Register</a>
            </div>

            <div class='section-device'>
                <img src='static/img/books.jpeg'>
            </div>
        </div>
    </main>
{% endblock %}
